.order {
  display: flex;
  max-width: 800px;
  padding: 0 1rem;
  width: 100%;
  justify-content: space-between;

  .order__form-wrapper {
    flex-basis: 60%;

    .order__form {
      align-items: flex-start;
    }
  }

  .order__form {
    margin-top: 1rem;
  }

  .order__summary-wrapper {
    h2 {
      margin-bottom: 1rem;
    }

    .summary__price-total {
      margin: 1rem 0;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}
